*{
    margin: 0px;
    padding: 0px; 
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Supermercado One', cursive;
}
/* navigation bar */
#navbar::before{
    content: "";
    background-color: rgb(167, 209, 118);
    position:absolute;
    height: 100%; width: 100%;
    top: 0; left: 0;
    z-index: -1; 
    overflow: hidden;
    opacity: .59;
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    padding: 1%;
    /* justify-content: center; */
    /* overflow: scroll; */
    /* width: 100%;
    height: 100%; */
    /* background-color: rgba(58, 58, 58, 0.788); */
}
#logo{
    margin: 0% 1%;
    
}
#logo img{
    height: 50px;
    border-radius: 10px;
}
ul{
    display: flex;
    list-style: none;
    width:max-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
}
ul li{
    font-size: 1.3rem;
    /* padding: 1% 10%; */
    text-align: center;
    

}
ul li a{
    display: block;
    color: rgb(0, 0, 0);
    padding: 3px 22px;
    border-radius: 20px;
}
ul li a:hover{
    color: rgb(253, 72, 0);
    background-color: rgba(0, 0, 0, 0.055);
}

/* Section home */
#home::before{
    content: "";
    position:absolute;
    background: url(img/bg.jpg) no-repeat fixed center/cover; 
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%;
    z-index: -1;
    opacity: .75;
}
#home{
    display: flex;
    flex-direction: column;
    height:600px;
    position: relative;
    padding: 0px 10%;
    justify-content: center;
    align-items: center;
    /* overflow: scroll; */
}
#home h1{
    font-size: 3.5rem;
    margin-top: 20px;
    text-align: center;
}
#home p{
    font-size: 1.4rem;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}
.btn{
    font-size: 1.3rem;
    padding: 3px 20px;
    background-color: rgba(255, 68, 0, 0.658);
    border: 2px outset rgba(189, 189, 189, 0.658);
    border-radius: 20px;
    cursor: pointer;
    
    
}
.btn a{
    color: rgb(0, 0, 0);
}



/* Services  */
#service-section::before{
    /* background-color: rgba(238, 228, 228, 0.342); */
    background: url(img/service.jpg)no-repeat fixed center/cover;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .7;
    
}
#service-section{
    position: relative;
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
}
.services{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 1%;
    padding-bottom: 50px;
    
}
h3{
    font-size: 3.0rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
    /* color: white; */
}
.services .box{
    /* border:2px solid rgb(0, 0, 0); */
    /* border-radius: 20px;
    background-color: rgba(61, 61, 61, 0.24);
    margin: 20px 40px; */
    /* justify-content: center;
    align-items: center; */
    padding: 40px;
}
.services .box img{
    height: 160px;
    /* width: 150px; */
    margin: auto;
    display: block;
    border-radius: 30px;
}
.services h2{
    font-size: 2.0rem;
    margin: 10px;
    text-align: center;
}
.services p{
    font-size: 1.0rem;
    text-align: center;
}

/* section clients */

#clients{
    /* background-color: rgba(185, 181, 181, 0.274); */
    background: url(img/client.jpg)no-repeat fixed center/cover;
    height: 600px;
    /* overflow: scroll; */
}
.clients h3{
    font-size: 3.0rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px ;
}
.clients-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.clients-item .it{
    margin: 10px 20px;
    padding: 10px 20px;
}
.clients-item .it img{
    height: 150px;
    width: 150px;
    margin: 10px auto;
    display: block;
    border-radius: 80px;
}
.it h2{
    font-family:'Times New Roman', Times, serif;
    font-size: 2.0rem;
    margin: 10px;
    text-align: center;
}
.it p{
    font-size: 1.0rem;
    text-align: center;
    padding: 0px 50px;
}


/* section Contact  */
#contact{
    background: url(img/contact.jpg) no-repeat fixed center/cover; 
    width: 100%;
    height: auto;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    width: 100%;
    
}
form{
    width: 50%;
}
#contact-box .form-box{
    width: 100%;
    margin: auto;
}
.form-box label{
    cursor: pointer;
    font-size: 1.3rem;
    display: block;
    margin-top: 10px;
    /* width: 100%; */
    text-align: center;
}
input{
    width: 100%;
    padding: 10px;
    border: white;
    border-radius: 10px;
    font-size: 1.1rem;
}

#contact-box textarea{
    width: 100%;
    padding: .5rem;
    border: white;
    border-radius: 10px;
    font-size: 1.1rem;
} 
input[type=submit]{
    display: block;
    width: 100px;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 20px auto;
}

/* footer  */
footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 9px 20px;
    text-align: center;
}